.table {
    margin: 0px 10px 0px 55px;
}

.input {
    height: 22px;
    margin: 2px 3px 2px auto;
}

.checkbox {
    width: 18px;
    height: 18px;
    margin: 4px 3px 4px auto;
}

.updateButton {
    margin-top: 10px;
    height: 30px;
    font-size: 110%;
}
