.wrapper {
    display: flex;
}

.wrapper > div {
    flex: 1;
    text-align: left;
}

.select {
    width: 70%;
    margin: 0px auto;
}

.deleteButtonWrapper {
    margin-top: 10px;
    text-align: center;
}

.deleteButtonWrapper > input {
    width: 180px;
    margin: 0px;
    height: 30px;
    font-size: 110%;
}
