.input {
    border-radius: 6px;
    width: 70%;
    height: 20px;
}

.autoclear {
    width: 70%;
    margin: 0px auto;
    font-size: 80%;
}

.clearButton {
    margin: 0px 10px;
}

.checksumWrapper {
    text-align: left;
    margin-left: 30%;
    margin-top: 5px;
    font-size: 90%;
}

.checksum {
    display: inline;
    font-weight: bold;
    padding-right: 10px;
}