.UIGroup {
    text-align: center;
    background-color: lightgray;
    border-radius: 40px;
    padding: 15px;
    margin: 15px;
}

.heading {
    font-weight: bold;
    font-size: 150%;
    margin-bottom: 15px;
}
