.wrapper {
    display: inline;
}

.wrapper > div {
    display: inline;
}

.checksum {
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.status {
    display: inline-block;
    font-size: 150%;
    height: 24px;
}

.buttonWrapper {
    display: inline-block;
    height: 24px;
    vertical-align: middle;
    margin: 0px 10px;
}

.clear {
    margin-left: 10px;
}